Q1-Explain with an example each when to use a for loop and a while loop.

A-

A for loop allows us to repeat a set of instructions a designated amount of times. it is used when we know exactly how many number of iterations are required


for i in range(1, 11):

    print(i)
    
A while loop is used when you want to repeat a block of code until a certain condition is met.

For example- print the numbers from 1 to 10

num = 1

while num <= 10:

  print(num)
  
  num += 1

Q2-Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [1]:
num=1
sum=0
product=1
while num<=10:
    sum+=num
    product*=num
    num+=1
print('sum is ',sum,'product is',product)

sum is  55 product is 3628800

Q3-Create a python program to compute the electricity bill for a household.

In [1]:
units=int(input())
bill=0.0
if(units<=100):
    bill=units*4.5
elif(units<=200):
    bill=450+(units-100)*6
elif(units<=300):
    bill=1050+(units-200)*10
else:
    bill=2050+(units-300)*20
    
print('for units :',units,' bill costs :',bill)

 310

for units : 310  bill costs : 2250

Q4-Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [2]:
list=[]
cubes=[]
for i in range(1,101,1):
    list.append(i)
for i in list:
        if((i%100)%4==0 or (i%10==5 or i%10==0)): 
             cubes.append(i*i*i) 
        else :
            continue     
cubes

[64,
 125,
 512,
 1000,
 1728,
 3375,
 4096,
 8000,
 13824,
 15625,
 21952,
 27000,
 32768,
 42875,
 46656,
 64000,
 85184,
 91125,
 110592,
 125000,
 140608,
 166375,
 175616,
 216000,
 262144,
 274625,
 314432,
 343000,
 373248,
 421875,
 438976,
 512000,
 592704,
 614125,
 681472,
 729000,
 778688,
 857375,
 884736,
 1000000]

Q5- Write a program to filter count vowels in the below-given string.

In [7]:
string = "I want to become a data scientist"
vowels=['a','e','i','o','u']
count=0
for x in string:
    if x.lower() in vowels:
        count+=1
print('no of vowels encountered is ',count)

no of vowels encountered is  12