In [29]:
#1-Program to accept Percentage and show grade
marks=int(input())
if(marks > 90 ):
    print("A")
elif(marks > 80 and marks <= 90) :
    print("B")
elif(marks >= 60 and marks <= 80) :
    print("C")
elif(marks < 60 ):
    print("D")

 10

D

In [30]:
#2-Program to accept costprice and show road tax accordingly
costprice=int(input())
if(costprice > 100000 ):
    print("15%")
elif(costprice > 50000 and costprice <= 100000) :
    print("10%")
elif( costprice <= 50000) :
    print("5%")

 50000

5%

In [31]:
#3-accept city from user and display monument in that city
city=str(input())
match city:
    case "Delhi":
         print("Red Fort")
    case "Agra":
         print("Taj Mahal")
    case "Jaipur":
         print("Jai Mahal")

 Delhi

Red Fort

#5 why and when to use while loop in Python givea a detail description with example

A-
A while loop is used when you want to repeat a block of code until a certain condition is met.

For example- print the numbers from 1 to 10

num = 1

while num <= 10:

  print(num)
  
  num += 1


while loop will run until the value of num is 10 or greater.

#6 use nested loop to print 3 different patterns in Python

In [16]:
rows=6
for i in range(rows):
    for j in range (i):
         print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

In [11]:
rows=6
for i in range(rows):
    for j in range (i):
         print(j+1,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
rows=6
for i in range(rows-1,0,-1):
    for j in range (i):
         print('*',end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

In [27]:
#7 Display 10 to 1 using while loop
num = 10

while num >= 1:

  print(num)
  
  num -=1

10
9
8
7
6
5
4
3
2
1

In [26]:
#8 Display 10 to 1 using while (done with for)loop
for i in range(10,0,-1):
         print(i)

10
9
8
7
6
5
4
3
2
1